<!-- <h1 style="text-align: center;">Giỏ hàng của bạn</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Ảnh sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Tổng tiền</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{phoneDetail.id}}</th>
            <td>{{phoneDetail.brand}}</td>
            <td>{{phoneDetail.price}}</td>
            <td><img src="{{phoneDetail.imgUrl}}" alt=""></td>
            <td><input #quantity id="quantity" type="number" (change)="changeQuantity(quantity.value,phoneDetail)"  style="width: 100px;"></td>
            <td>{{money}}</td>
            
        </tr>
        <tr style="border-bottom: none;">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th rowspan="4" style="font-size: 25px;font-weight: bolder;text-transform: uppercase;">Tổng tiền cần thanh
                toán:</th>
            <th rowspan="2" style="font-size: 25px;font-weight: bolder">100000</th>
        </tr>

    </tbody>
</table>

<div class="btn" style="margin-left: 40%;">
    <button class="btn btn-primary me-2" style="width:200px;border-radius: 5px;">Xác nhận</button>
    <button routerLink="/" class="btn btn-secondary ms-2" style="width:200px;border-radius: 5px;">Hủy bỏ</button>
</div> -->